<% content_for :title, t("subgroups.new.title") %>

<div class="container">
  <div class="row center-row">
    <div class="col-md-8 offset-md-2">
      <h1 class="submain-heading"><%= t("subgroups.new.main_heading") %></h1>
      <%= render partial: "form", locals: { subgroup: @subgroup } %>
      <div class="mt-3">
        <%= link_to t("back"), group_path(@group), class: "anchor-text" %>
      </div>
    </div>
  </div>
</div>
